.popup-edit-profile__container {
	width: 430px;
	min-height: 330px;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 34px 36px 37px 36px;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: #000000;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
}

@media all and (max-width: 597px) {
	.popup-edit-profile__container {
		width: 282px;
		min-height: 322px;
		padding: 25px 22px;
		align-items: center;
	}
}