.popup-delete-card {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	visibility: hidden;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	transition: visibility .5s, opacity .5s linear;
	z-index: 0;
}