.popup-edit-profile__title {
	margin: 0;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	padding-bottom: 54px;
}

@media all and (max-width: 597px) {
	.popup-edit-profile__title {
		font-size: 18px;
		line-height: 22px;
		padding-bottom: 75px;
	}
}