@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/project/project.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__content/page__content.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__singup/header__singup.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__user-name/profile__user-name.css);
@import url(./blocks/profile/__user-job/profile__user-job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__delete_visiblle/element__delete_visible.css);
@import url(./blocks/element/__delete_hidden/element__delete_hidden.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-icon/element__like-icon.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/_like-active/element_like-active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__form/popup__form.css);

@import url(./blocks/popup-edit-profile/popup-edit-profile.css);
@import url(./blocks/popup-edit-profile/__container/popup-edit-profile__container.css);
@import url(./blocks/popup-edit-profile/__title/popup-edit-profile__title.css);

@import url(./blocks/form-login/form-login.css);
@import url(./blocks/form-login/__container/form-login__container.css);
@import url(./blocks/form-login/__title/form-login__title.css);
@import url(./blocks/form-login/__input/form-login__input.css);
@import url(./blocks/form-login/__submit-button/form-login__submit-button.css);
@import url(./blocks/form-login/__input-error/form-login__input-error.css);
@import url(./blocks/form-login/__input-error/_active/form-login__input-error_active.css);
@import url(./blocks/form-login/__input/_type-error/form-login__input_type-error.css);

@import url(./blocks/popup-edit-avatar/popup-edit-avatar.css);
@import url(./blocks/popup-edit-avatar/__container/popup-edit-avatar__container.css);
@import url(./blocks/popup-edit-avatar/__title/popup-edit-avatar__title.css);
@import url(./blocks/popup-edit-avatar/__message-error/popup-edit-avatar__message-error.css);

@import url(./blocks/popup-add-card/popup-add-card.css);
@import url(./blocks/popup-add-card/__container/popup-add-card__container.css);
@import url(./blocks/popup-add-card/__title/popup-add-card__title.css);
@import url(./blocks/popup-add-card/__message-error/popup-add-card__message-error.css);

@import url(./blocks/popup-delete-card/popup-delete-card.css);
@import url(./blocks/popup-delete-card/__container/popup-delete-card__container.css);
@import url(./blocks/popup-delete-card/__title/popup-delete-card__title.css);

@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__container/popup-image__container.css);
@import url(./blocks/popup-image/__button-close/popup-image__button-close.css);
@import url(./blocks/popup-image/__image/popup-image__image.css);
@import url(./blocks/popup-image/__title/popup-image__title.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__input/_type-error/form__input_type-error.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
